<html>
<head>
<title> Wallie </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- bootstrap css -->
		<link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen"> 
	    <!-- our css -->
        <link href="stylesheets/style.css" rel="stylesheet" media="screen">	
</head>

<body style= "background-image:url('https://store.stardock.com/images/product_gfx/Stars.jpg')">
	<div style="height:40%"></div>
	<div class = "row-fluid">
		<div class = "span4 offset4">
			<center><h2 color ="white"> WALLiE </h2></center>
			<center><input type="text" value="query"><input type="submit">
		</div>
</div>
</body>

</html>